<div class="col-xs-6 h-scroll">
<p>
若打不开<a href="https://v3.aibuyi.top/aby-ui/repo-base/raw/0c710164109fe799a68732bd37c411c1be5ed118/.filelist.php">测试</a>就会卡对比文件，移动宽带较常见，建议下压缩包<br/>
<a href="https://wwa.lanzoui.com/b0af9rnvg">压缩包网盘</a> 提取码: alp9 解压到魔兽安装目录下的 _retail_ 里<br/>
</p>
<p>2022.08.29 10:00</p>
<ul>
<li>修复打开冒险指南副本时卡死的问题，麻烦重新更新一下</li>
</ul>
<p>2022.08.28</p>
<ul>
<li>修复NPC升级装备有时显示银行标识的BUG</li>
<li>重写【爱不易装备搜索】方便9.0第四赛季使用</li>
<li>史诗钥石界面按钮右键点击可打开掉落手册</li>
<li>DBM争霸艾泽拉斯(DBM-BattleForAzeroth)更新至r12-1</li>
<li>首领模块(DBM-Core)更新至DBM-9.2.31-8</li>
<li>DBM五人副本模块(DBM-Dungeons)更新至r40</li>
<li>伤害统计Details更新至v9.2.7.10000.146</li>
<li>多米诺动作条(Dominos)更新至9.3.3</li>
<li>大秘路线(MethodDungeonTools)更新至v3.9.6.6</li>
<li>自动交接任务(AutoTurnIn)更新至9.1.12</li>
<li>伤害统计盟约助手(Details_Covenants)更新至1.3.5</li>
<li>站位提醒(GTFO)更新至4.67.2</li>
</ul>
<p>2022.08.18</p>
<ul>
<li>插件版本号更新至90207</li>
<li>自动交接任务(AutoTurnIn)更新至9.1.10</li>
<li>首领模块(DBM-Core)更新至DBM-9.2.30-2</li>
<li>DBM五人副本模块(DBM-Dungeons)更新至r39</li>
<li>HandyNotes奥利波斯(HandyNotes_Oribos)更新至v18</li>
<li>按钮美化(Masque)更新至9.2.7</li>
<li>大秘路线(MethodDungeonTools)更新至v3.9.6.1</li>
<li>Grid团队减益小副本模块更新至v9.3.1</li>
<li>稀有精英探测(RareScanner)更新至9.2.7</li>
<li>宠物战队(Rematch)更新至4.12.1</li>
<li>目标点路径指示(TomTom)更新至v3.1.3</li>
</ul>
<p>2022.08.13</p>
<ul>
<li>团员信息统计调整为第四赛季相关信息</li>
<li>史诗钥石界面20限时传送门点击施法支持第四赛季</li>
<li>首领模块(DBM-Core)更新至DBM-9.2.29-8</li>
<li>要塞任务大师(MasterPlan)更新至0.124</li>
<li>大秘路线(MethodDungeonTools)更新至v3.9.5.7</li>
</ul>
<p>2022.08.09</p>
<ul>
<li>爱不易装备搜索支持赛季大秘副本</li>
<li>集合石整合官方90205.05版本活动部分</li>
<li>集合石增加赛季大秘菜单列表</li>
<li>集合石扩展(MeetingStoneEX)更新至2.71</li>
<li>首领模块(DBM-Core)更新至DBM-9.2.28-7</li>
<li>DBM五人副本模块(DBM-Dungeons)更新至r38</li>
<li>大秘路线(MethodDungeonTools)更新至v3.9.5.5</li>
<li>队友技能监控(OmniCD)更新至v9.2.5.2721</li>
<li>副本进度查询(SavedInstances)更新至9.2.4</li>
</ul>
<p>2022.08.07</p>
<ul>
<li>秘境计时增强(AngryKeystones)更新至v0.25.3</li>
<li>首领模块(DBM-Core)更新至DBM-9.2.27-19</li>
<li>站位提醒(GTFO)更新至4.67.1</li>
<li>大秘路线(MethodDungeonTools)更新至v3.9.5.2</li>
<li>Grid团队减益小副本模块更新至v9.2.8</li>
<li>副本进度查询(SavedInstances)更新至a89ae68</li>
</ul>
<p>2022.08.04 23:00</p>
<ul>
<li>增加DBM德拉诺之王5人副本模块</li>
<li>调整新赛季装等颜色</li>
<li>调整新赛季PVP奖励装等</li>
<li>首领模块(DBM-Core)更新至DBM-9.2.27-2</li>
<li>DBM五人副本模块(DBM-Dungeons)更新至r37</li>
<li>大秘路线(MethodDungeonTools)更新至v3.9.4.2</li>
</ul>
<p>2022.08.04 暗影国度第4赛季</p>
<ul>
<li>插件版本号改回90205，原来今天不是9.2.7哈</li>
<li>首领模块(DBM-Core)更新至DBM-9.2.24-8</li>
<li>DBM五人副本模块(DBM-Dungeons)更新至r36</li>
<li>大秘路线(MethodDungeonTools)更新至v3.9.4.1</li>
<li>队友技能监控(OmniCD)更新至v9.2.5.2720</li>
<li>副本进度查询(SavedInstances)更新至9.2.3</li>
<li>自动交接任务(AutoTurnIn)更新至9.1.9</li>
<li>HPetBattleAny宠物数据更新至v1.21.1</li>
<li>稀有精英探测(RareScanner)更新至9.2.5.2</li>
<li>宠物战队(Rematch)更新至4.12.0</li>
</ul>
<p>2022.07.02</p>
<ul>
<li>首领模块(DBM-Core)更新至9.2.20-3</li>
<li>采集助手(GatherMate2)更新至1.47.2</li>
<li>采集助手数据(GatherMate2_Data)更新至v37.1</li>
<li>地图增强(Mapster)更新至1.9.7</li>
<li>队友技能监控(OmniCD)更新至v2.7.19</li>
<li>施法条增强(Quartz)更新至3.6.11</li>
<li>秘境计时增强(AngryKeystones)更新至v0.25.2</li>
<li>批量购买助手(BuyEmAll)更新至v3.5.11</li>
<li>DBM军团再临模块(DBM-Legion)更新至r32-1</li>
<li>一键驱散(Decursive)更新至2.7.8.6</li>
<li>伤害统计Details(Details)更新至9.2.5.9824.146</li>
<li>治疗必须死(Healers-Have-To-Die)更新至2.4.9.12</li>
<li>稀有精英探测(RareScanner)更新至9.2.5.1</li>
</ul>
<p>2022.06.09</p>
<ul>
<li>首领模块(DBM-Core)更新至DBM-9.2.19-14</li>
<li>伤害统计Details更新至9.2.5.9823.146</li>
<li>库:任务数据(Grail)更新至118</li>
<li>邮件增强(Postal)更新至v3.8.1</li>
<li>内置/sim命令更新至9.2.5-01</li>
<li>可接任务查询(Wholly)更新至086</li>
<li>世界任务增强(WorldQuestTracker)更新至v9.2.5.438</li>
</ul>
<p>2022.06.03</p>
<ul>
<li>集合石改进：</li>
<ul>
<li>创建活动时增加仅限联盟/部落的选项</li>
<li>但目前似乎选了也无效，要等暴雪修复</li>
<li>创建活动时增加大秘分数限制或PVP评级限制</li>
<li>针对PVP活动显示PVP评分及场内装等</li>
<li>完善集合石申请人鼠标提示信息</li>
</ul>
<li>HandyNotes系列插件更新解决报错</li>
<li>幻化提示(CanIMogIt)更新至9.2.5v1.33</li>
<li>伤害统计Details更新至Retail.9.2.5.9818.146</li>
<li>按钮美化(Masque)更新至9.2.5</li>
<li>世界任务增强(WorldQuestTracker)更新至v9.2.5.436</li>
</ul>
<p>2022.06.02 9:00</p>
<ul>
<li>修复集合石活动类型菜单很多PvP的问题</li>
<li>集合石跨阵营的队伍会在队长名字前面显示阵营徽记</li>
</ul>
<p>2022.06.02</p>
<ul>
<li>插件版本号统一更新至9.2.5</li>
<li>修复MRT视觉笔记地图问题</li>
<li>处理9.2.5团队框架CR和HHTD报错的问题</li>
<li>因API改动, 临时屏蔽CanIMogIt插件</li>
<li>首领模块(DBM-Core)更新至DBM-9.2.19-2</li>
<li>站位提醒(GTFO)更新至4.67</li>
<li>地图标记(HandyNotes)更新至v1.6.6</li>
<li>队友技能监控(OmniCD)更新至v2.7.18</li>
<li>稀有精英探测(RareScanner)更新至9.2.5</li>
<li>宠物战队(Rematch)更新至4.11.24</li>
<li>WeakAura2更新至4.0.2</li>
</ul>
<p>2022.05.24</p>
<ul>
<li>首领模块(DBM-Core)更新至DBM-9.2.18-14</li>
<li>伤害统计Details更新至9.2.0.9817.146</li>
<li>大秘路线(MethodDungeonTools)更新至v3.9.3</li>
<li>Grid团队减益小副本更新至v9.2.5</li>
<li>宠物战队(Rematch)更新至4.11.23</li>
<li>副本进度查询(SavedInstances)更新至9.2.2</li>
<li>DBM争霸艾泽拉斯(DBM-BattleForAzeroth)更新至r10</li>
<li>DBM五人副本模块(DBM-Dungeons)更新至r34</li>
<li>DBM军团再临模块(DBM-Legion)更新至r31</li>
<li>队友技能监控(OmniCD)更新至v2.7.17</li>
<li>宠物战队(Rematch)更新至4.11.22</li>
<li>WeakAura2更新至4.0.0</li>
<li>全能标记助手(wMarker)更新至v2.6</li>
</ul>
<p>2022.05.13</p>
<ul>
<li>额外设置里友方姓名板设置更好的支持大姓名板模式</li>
<li>修复信息条勇气征服显示为负数的问题</li>
<li>秘境计时增强(AngryKeystones)更新至v0.25.1</li>
<li>PVP战场框体(BattleGroundEnemies)更新至9.2.0.11</li>
<li>首领模块(DBM-Core)更新至9.2.17-1</li>
<li>DBM军团再临模块(DBM-Legion)更新至r29-13</li>
<li>DBM争霸艾泽拉斯(DBM-BattleForAzeroth)更新至r8-18</li>
<li>DBM个人挑战(DBM-Challenges)更新至r148-20</li>
<li>大秘路线(MethodDungeonTools)更新至v3.9.2.2</li>
<li>稀有精英探测(RareScanner)更新至9.2.0.8</li>
</ul>
<p>2022.05.06</p>
<ul>
<li>如果有20限时传送门，可以点击史诗钥石界面按钮施法</li>
<li>首领模块(DBM-Core)更新至9.2.16-27</li>
<li>队友技能监控(OmniCD)更新至v2.7.16</li>
</ul>
<p>2022.05.03</p>
<ul>
<li>PVP战场框体(BattleGroundEnemies)更新至9.2.0.9</li>
<li>DBM:个人挑战(DBM-Challenges)更新至r148-16</li>
<li>首领模块(DBM-Core)更新至9.2.16-25</li>
<li>伤害统计Details更新至9.2.0.9780.146</li>
<li>PVP语音提示(GladiatorlosSA2)更新至2.3.14.1</li>
<li>队友技能监控(OmniCD)更新至v2.7.15</li>
<li>宠物战队(Rematch)更新至4.11.21</li>
<li>副本进度查询(SavedInstances)更新至2060033</li>
</ul>
<p>2022.04.25</p>
<ul>
<li>修复RareScanner报警声音问题</li>
<li>首领模块(DBM-Core)更新至9.2.16-1</li>
<li>Details爆炸物模块更新至v9.2.1</li>
<li>大秘路线(MethodDungeonTools)更新至v3.9.1</li>
<li>队友技能监控(OmniCD)更新至v2.7.13</li>
<li>Grid团队减益暗影国度更新至v1.2.2</li>
<li>稀有精英探测(RareScanner)更新至9.2.0.7</li>
</ul>
<p>2022.04.20</p>
<ul>
<li>移除团长助手兼容插件(ExRT)</li>
<li>移除插件统御碎片助手(DominationSocketHelper)</li>
<li>集合石扩展(MeetingStoneEX)更新至2.07</li>
<li>秘境计时增强(AngryKeystones)更新至v0.24.1</li>
<li>PVP战场框体(BattleGroundEnemies)更新至9.2.0.5</li>
<li>DBM:个人挑战(DBM-Challenges)更新至r148-14</li>
<li>首领模块(DBM-Core)更新至9.2.13-4</li>
<li>伤害统计Details更新至9.2.0.9735.146</li>
<li>团长工具(MRT)更新至v4630</li>
<li>大秘路线(MethodDungeonTools)更新至v3.9.0</li>
<li>队友技能监控(OmniCD)更新至v2.7.12</li>
<li>稀有精英探测(RareScanner)更新至9.2.0.6</li>
</ul>
<p>2022.04.15</p>
<ul>
<li>职业快捷按钮(LiteBuff)支持永恒强化符文</li>
<li>史诗钥石面板显示分数等额外信息(类似某些WA功能)</li>
</ul>
<p>2022.04.12</p>
<ul>
<li>修正装备弹出框(角色换装/物品升级)的装等文字</li>
<li>修复系统头像增强焦点目标拖动问题</li>
<li>简约背包整合(Bagnon)更新至9.2.0</li>
<li>分类背包整合(Combuctor)更新至9.2</li>
<li>DBM个人挑战(DBM-Challenges)更新至r148</li>
<li>首领模块(DBM-Core)更新至9.2.12-14</li>
<li>大秘路线(MethodDungeonTools)更新至v3.8.9</li>
<li>队友技能监控(OmniCD)更新至v2.7.11</li>
</ul>
<p>2022.04.06</p>
<ul>
<li>简约背包整合(Bagnon)更新至9.1.6</li>
<li>控制技能提示(BigDebuffs)更新至v10.17</li>
<li>首领模块(DBM-Core)更新至DBM-9.2.12-1</li>
<li>HandyNotes副本入口标记更新至1.54</li>
<li>大秘路线(MethodDungeonTools)更新至v3.8.7</li>
</ul>
<p>2022.04.02</p>
<ul>
<li>信息栏勇气和征服显示剩余上限</li>
<li>PVP战场框体(BattleGroundEnemies)更新至9.2.0.4</li>
<li>HPetBattleAny宠物数据更新至v1.20.2</li>
<li>控制技能提示(BigDebuffs)更新至v10.15</li>
<li>巧克力信息条(ChocolateBar)更新至v3.8.4</li>
<li>首领模块(DBM-Core)更新至9.2.10-5</li>
</ul>
<p>2022.03.28</p>
<ul>
<li>简约背包整合(Bagnon)更新至9.1.5</li>
<li>PVP战场框体(BattleGroundEnemies)更新至9.2.0.1</li>
<li>控制技能提示(BigDebuffs)更新至v10.14</li>
<li>巧克力信息条(ChocolateBar)更新至v3.8.2</li>
<li>分类背包整合(Combuctor)更新至9.1.4</li>
<li>首领模块(DBM-Core)更新至DBM-9.2.9-30</li>
<li>PVP语音提示(GladiatorlosSA2)更新至GSA2.3.14</li>
<li>站位提醒(GTFO)更新至4.66.6</li>
<li>敌方冷却监控(OmniBar)更新至v13.1</li>
<li>队友技能监控(OmniCD)更新至v2.7.01</li>
<li>稀有精英探测(RareScanner)更新至9.2.0.5</li>
<li>美化姓名版(TidyPlates)更新至6.20.12</li>
<li>装等显示(TinyInspect)更新至9.0.8</li>
<li>WeakAura2更新至3.7.16</li>
</ul>
<p>2022.03.23</p>
<ul>
<li>集合石地下城活动列表显示职业颜色条，可设置</li>
<li>小功能里元尊精粹拾取提示为7.0橙装特效</li>
<li>友方姓名板高度可以为负数</li>
<li>默认不设置敌方姓名板高度</li>
<li>修复CR团队框架显示敌对boss的问题，并且可显示8个</li>
<li>控制技能提示(BigDebuffs)更新至v10.9</li>
<li>首领模块(DBM-Core)更新至DBM-9.2.7-43</li>
<li>夏一可語音包(DBM-VPYike)更新至3708038</li>
<li>伤害统计Details更新至9.2.0.9722.146</li>
<li>WeakAura2更新至3.7.14</li>
</ul>
<p>2022.03.20</p>
<ul>
<li>新增集合石扩展插件，可同时搜索多个副本</li>
<li> - 感谢<a href="https://bbs.nga.cn/read.php?tid=30841564">玩偶风暴指挥官@NGA</a></li>
<li>尝试修复Skada在BOSS战后会记录一个新战斗的问题</li>
<li>额外设置里增加姓名板高度设置选项</li>
<li>强制设置CVAR predictedHealth为1</li>
<li>CompactRaid修复RL界面后友方NPC框体位置</li>
<li>巧克力信息条(ChocolateBar)更新至v3.8.1</li>
<li>首领模块(DBM-Core)更新至DBM-9.2.7-14</li>
<li>HandyNotes暗影国度地图宝箱更新至v46</li>
<li>副本进度查询(SavedInstances)更新至3c5312f</li>
</ul>
<p>2022.03.17</p>
<ul>
<li>修复巧克力信息条可能导致动作条无热键无法点击的问题</li>
<li>首领模块(DBM-Core)更新至DBM-9.2.7-10</li>
<li>站位提醒(GTFO)更新至4.66.4</li>
<li>稀有精英探测(RareScanner)更新至9.2.0.4</li>
<li>更新盟约随从任务VenturePlan(高频变压器@NGA)</li>
</ul>
<p>2022.03.16</p>
<ul>
<li>小功能集合增加盟约选择助手(暂时不能随专精换羁绊)</li>
<li>临时处理解谜宝箱后头像不显示的问题</li>
<li>增加/dev命令，可打开暴雪控制台</li>
</ul>
<p>2022.03.15</p>
<ul>
<li>秘境计时增强(AngryKeystones)更新至v0.24.0</li>
<li>自动交接任务(AutoTurnIn)更新至9.1.8</li>
<li>首领模块(DBM-Core)更新至DBM-9.2.6-10</li>
<li>伤害统计Details更新至9.2.0.9720.146</li>
<li>站位提醒(GTFO)更新至4.66.3</li>
<li>副本进度查询(SavedInstances)更新至981fc5e</li>
</ul>
<p>2022.03.09</p>
<ul>
<li>增加一个看套装的小功能，在冒险指南传说之力页</li>
<li>PVP周常奖励处增加奖励装等信息</li>
<li>使用任务增强时，DBM不会自动展开任务追踪列表</li>
<li>任务追踪增强快捷按钮背景更改</li>
<li>更换盟约时自动运行SetMacroSpell宏(参见<a href="https://bbs.nga.cn/read.php?tid=29286260">NGA帖子</a>)</li>
<li>史诗钥石评分鼠标提示显示历史最高分</li>
<li>新地图重载界面会出现教程的小问题</li>
<li>Grid团队减益微调</li>
<li>首领模块(DBM-Core)更新至DBM-9.2.4-12</li>
<li>伤害统计Details更新至9.2.0.9718.146</li>
<li>HandyNotes争霸艾泽拉斯宝箱更新至v9</li>
<li>HandyNotes暗影国度地图宝箱更新至v45</li>
<li>大秘路线(MethodDungeonTools)更新至v3.8.5</li>
<li>技能冷却计时(OmniCC)更新至9.2.0</li>
<li>Grid团队减益暗影国度更新至v1.2.1</li>
<li>稀有精英探测(RareScanner)更新至9.2.0.3</li>
<li>伤害统计(Recount)更新至v9.2.0a</li>
<li>副本进度查询(SavedInstances)更新至d17bc95</li>
<li>饰品增强(TrinketMenu)更新至9.0.7</li>
<li>世界飞行地图(WorldFlightMap)更新至9.2.0.0</li>
</ul>
<p>2022.03.05</p>
<ul>
<li>解决副本里飞行地图的问题</li>
<li>首领模块(DBM-Core)更新至9.2.2-2</li>
<li>站位提醒(GTFO)更新至4.66.2</li>
<li>队友技能监控(OmniCD)更新至v2.6.40</li>
<li>WeakAura2更新至3.7.13</li>
</ul>
<p>2022.03.03</p>
<ul>
<li>团员统计信息、大米掉落装等、物品掉落信息等更新</li>
<li>首领模块(DBM-Core)更新至DBM-9.2.1-2</li>
<li>一键驱散(Decursive)更新至2.7.8.5</li>
<li>站位提醒(GTFO)更新至4.66.1</li>
<li>HandyNotes暗影国度地图宝箱更新至v44</li>
<li>治疗必须死(HHTD)更新至2.4.9.11</li>
<li>按钮美化(Masque)更新至9.2.0</li>
<li>大秘路线(MethodDungeonTools)更新至v3.8.4</li>
<li>Grid团队减益暗影国度更新至v1.2.0</li>
<li>邮件增强(Postal)更新至v3.7.8</li>
<li>稀有精英探测(RareScanner)更新至9.2.0.2</li>
<li>副本进度查询(SavedInstances)更新</li>
<li>WeakAura2更新至3.7.12</li>
</ul>
<p>2022.02.28</p>
<ul>
<li>修复开启统御碎片助手后无法移动角色面板的问题</li>
<li>信息条临时增加9.2两种新货币</li>
<li>首领模块(DBM-Core)更新至DBM-9.2.0-6</li>
<li>站位提醒(GTFO)更新至4.66</li>
<li>副本进度查询(SavedInstances)更新至9aa8398</li>
<li>快速标记助手(SimpleRaidTargetIcons)更新至v2.1.8</li>
<li>技能超距提示(tullaRange)更新至9.2.0</li>
<li>世界任务增强(WorldQuestTracker)更新至v9.2.0.435</li>
<li>源锁解谜助手(ZerethMortisPuzzleHelper)更新至v1.5</li>
</ul>
<p>2022.02.25</p>
<ul>
<li>新增插件【源锁解谜助手】(ZerethMortisPuzzleHelper)</li>
<li>HPetBattleAny宠物数据更新至v1.20.1</li>
<li>首领模块(DBM-Core)更新至9.2.0-4</li>
<li>伤害统计Details(Details)更新至9.2.0.9696.146</li>
<li>多米诺动作条(Dominos)更新至9.2.2</li>
<li>采集助手(GatherMate2)更新至1.47.1-1</li>
<li>HandyNotes暗影国度地图宝箱更新至v41</li>
<li>地图增强(Mapster)更新至1.9.6-2</li>
<li>大秘路线(MethodDungeonTools)更新至v3.8.2</li>
<li>稀有精英探测(RareScanner)更新至9.2.0.1</li>
<li>副本进度查询(SavedInstances)更新至124eb06</li>
<li>目标点路径指示(TomTom)更新至v3.0.6</li>
<li>世界任务增强(WorldQuestTracker)更新至v9.2.0.434</li>
<li>Ace3更新至r1259</li> 
</ul>
<p>2022.02.24 21:00</p>
<ul>
<li>修复系统头像增强目标血量文字遮挡问题</li>
<li>更新盟约随从任务VenturePlan(高频变压器@NGA)</li>
</ul>
<p>2022.02.24 9.2.0开启</p>
<ul>
<li>HPetBattleAny宠物数据更新至v1.20.0</li>
<li>巧克力信息条(ChocolateBar)更新至v3.8</li>
<li>首领模块(DBM-Core)更新至DBM-9.2.0-3</li>
<li>DBM:个人挑战(DBM-Challenges)更新至r147</li>
<li>DBM五人副本模块(DBM-Dungeons)更新至r32</li>
<li>角色详细属性(DejaCharacterStats)更新至R90200r1</li>
<li>伤害统计Details更新至v9.1.5.9693.146</li>
<li>Details爆炸物模块更新至v9.2.0</li>
<li>统御碎片助手(DominationSocketHelper)更新至v2.0.10</li>
<li>多米诺动作条(Dominos)更新至9.2.1</li>
<li>团长工具(ExRT)更新至v4620</li>
<li>采集助手(GatherMate2)更新至1.47-2</li>
<li>PVP语音提示(GladiatorlosSA2)更新至GSA2.3.13</li>
<li>站位提醒(GTFO)更新至4.65.4</li>
<li>地图标记(HandyNotes)更新至v1.6.5</li>
<li>HandyNotes争霸艾泽拉斯宝箱更新至v8</li>
<li>HandyNotes盟约圣所更新至v11</li>
<li>HandyNotes奥利波斯更新至v16</li>
<li>HandyNotes暗影国度地图宝箱更新至v40</li>
<li>地图增强(Mapster)更新至1.9.6</li>
<li>大秘路线(MethodDungeonTools)更新至v3.8.1</li>
<li>队友技能监控(OmniCD)更新至v2.6.38</li>
<li>Grid团队减益(PlexusStatusRaidDebuff)更新至r92</li>
<li>施法条增强(Quartz)更新至3.6.9</li>
<li>稀有精英探测(RareScanner)更新至9.2.0</li>
<li>宠物战队(Rematch)更新至4.11.20</li>
<li>副本进度查询(SavedInstances)更新至9.2.0</li>
<li>内置/sim命令更新至v9.2.0</li>
<li>目标点路径指示(TomTom)更新至v3.0.4</li>
<li>WeakAura2更新至3.7.11</li>
<li>世界任务列表(WorldQuestsList)更新至v10.4</li>
</ul>
<p>2022.02.17</p>
<ul>
<li>夏一可語音包(DBM-VPYike)更新</li>
<li>首领模块(DBM-Core)更新至DBM-9.1.28-11</li>
<li>DBM若干模块更新,增加9.2副本模块</li>
<li>统御碎片助手(DominationSocketHelper)更新至v2.0.9</li>
<li>多米诺动作条(Dominos)更新至9.1.7</li>
<li>站位提醒(GTFO)更新至4.65.3</li>
<li>任务追踪增强(KalielsTracker)更新至4.4.0</li>
<li>大秘路线(MethodDungeonTools)更新至v3.7.5</li>
<li>队友技能监控(OmniCD)更新至v2.6.36</li>
<li>稀有精英探测(RareScanner)更新至9.1.6.7</li>
<li>宠物战队(Rematch)更新至4.11.19</li>
<li>饰品增强(TrinketMenu)更新至9.0.6</li>
<li>WeakAura2更新至3.7.8</li>
<li>世界任务增强(WorldQuestTracker)更新至v9.1.5.432</li>
</ul>
<p>2022.01.13</p>
<ul>
<li>本次更新有个14M的大文件, 不行就从网盘下载</li>
<li>秘境计时增强(AngryKeystones)更新至v0.23.1</li>
<li>DBM:个人挑战(DBM-Challenges)更新至r146</li>
<li>首领模块(DBM-Core)更新至DBM-9.1.23-70</li>
<li>角色详细属性(DejaCharacterStats)更新至901r4</li>
<li>多米诺动作条(Dominos)更新至9.1.5</li>
<li>PVP语音提示(GladiatorlosSA2)更新至2.3.12</li>
<li>队友技能监控(OmniCD)更新至v2.6.35</li>
<li>稀有精英探测(RareScanner)更新至9.1.6.5</li>
<li>副本进度查询(SavedInstances)更新至78773b1</li>
<li>WeakAura2更新至3.7.5</li>
<li>技能冷却计时(OmniCC)更新至9.1.6</li>
<li>Grid团队减益(PlexusStatusRaidDebuff)更新</li>
<li>施法条增强(Quartz)更新至3.6.8</li>
<li>稀有精英探测(RareScanner)更新至9.1.6.3</li>
<li>副本进度查询(SavedInstances)更新至95682c0</li>
<li>技能超距提示(tullaRange)更新至9.1.5</li>
<li>世界任务增强(WorldQuestTracker)更新至v9.1.5.431</li>
</ul>
<p>2021.12.13</p>
<ul>
<li>修复战斗计时某些情况下不停止的问题</li>
<li>小功能增加/oldguild打开老公会界面</li>
<li>秘境计时增强(AngryKeystones)更新至v0.23.0</li>
<li>简约背包整合(Bagnon)更新至9.1.4</li>
<li>幻化提示(CanIMogIt)更新至9.1.5v1.32</li>
<li>分类背包整合(Combuctor)更新至9.1.3</li>
<li>DBM争霸艾泽拉斯(DBM-BattleForAzeroth)更新至r6-1</li>
<li>DBM:个人挑战(DBM-Challenges)更新至r144-5</li>
<li>首领模块(DBM-Core)更新至9.1.22-20</li>
<li>伤害统计Details(Details)更新至9.1.5.9213.145</li>
<li>稀有精英探测(RareScanner)更新至9.1.5.1</li>
<li>副本进度查询(SavedInstances)更新至9.1.5-6</li>
</ul>
<p>2021.11.26</p>
<ul>
<li>修复收藏面板无法拖动的BUG</li>
<li>修复小功能战斗节奏音</li>
<li>盟约随从任务(VenturePlan)更新至9.1.5_v6.2.7</li>
<li>副本成就提示(AchievementsReminder)更新至9.150</li>
<li>首领模块(DBM-Core)更新至DBM-9.1.21-27</li>
<li>治疗必须死(Healers-Have-To-Die)更新至2.4.9.10</li>
<li>大秘路线(MethodDungeonTools)更新至v3.7.2</li>
<li>技能栏保存(Myslot)更新至v5.8.0</li>
<li>副本进度查询(SavedInstances)更新至9.1.5</li>
<li>美化姓名版(TidyPlates)更新至release.6.20.11</li>
</ul>
<p>2021.11.15</p>
<ul>
<li>整合包不再包含TellMeWhen插件，可到网盘里手工下载</li>
<li>（已安装的TellMeWhen暂时不会被移除）</li>
<li>自动交接任务(AutoTurnIn)更新至9.1.6</li>
<li>一键驱散(Decursive)更新至2.7.8.4</li>
</ul>
<p>2021.11.12</p>
<ul>
<li>临时修复集合石申请后出现两个结果的BUG</li>
<li>解决整合背包角色菜单显示报错的问题</li>
<li>继续修复鼠标提示边框问题</li>
<li>今天没来得及更新捐助名单</li>
<li>首领模块(DBM-Core)更新至DBM-9.1.20-6</li>
<li>站位提醒(GTFO)更新至4.65.2</li>
</ul>
<p>2021.11.10</p>
<ul>
<li>更新托加斯特爬塔给的薪尘数量</li>
<li>修复鼠标提示增强边框会保留职业颜色的问题</li>
<li>修复集合石最近搜索名称不全的问题</li>
<li>自动交接任务(AutoTurnIn)更新至9.1.5</li>
<li>HPetBattleAny宠物数据更新至v1.19.0</li>
<li>首领模块(DBM-Core)更新至9.1.20-4</li>
<li>伤害统计盟约助手(Details_Covenants)更新至1.3.2</li>
<li>Details爆炸物模块更新至v9.1.5</li>
<li>库:任务数据(Grail)更新至117</li>
<li>站位提醒(GTFO)更新至4.65.1</li>
<li>HandyNotes争霸艾泽拉斯宝箱更新至v7</li>
<li>HandyNotes暗影国度地图宝箱更新至v39</li>
<li>邮件增强(Postal)更新至v3.7.7a</li>
<li>目标点路径指示(TomTom)更新至v3.0.3</li>
<li>可接任务查询(Wholly)更新至085</li>
<li>世界任务增强(WorldQuestTracker)更新至v9.1.5.430</li>
</ul>
<p>2021.11.08</p>
<ul>
<li>集合石临时修复角色显示及爬塔难度列表</li>
<li>修复爱不易装备搜索功能</li>
<li>修复公会银行相关插件报错问题</li>
</ul>
<p>2021.11.05</p>
<ul>
<li>昨天有台服务器坏了，容易更新不完全，用详细检查按钮</li>
<li>临时修复集合石团本不显示角色数量的问题</li>
</ul>
<p>2021.11.04 10:00</p>
<ul>
<li>修复部分鼠标提示背景问题及报错</li>
<li>修复信息条货币模块报错问题</li>
<li>伤害统计盟约助手更新至1.3.1</li>
<li>站位提醒(GTFO)更新至4.65</li>
<li>HandyNotes盟约圣所更新至v10</li>
<li>HandyNotes奥利波斯更新至v15</li>
<li>HandyNotes苏拉玛传送门更新至v9-2</li>
<li>副本进度查询(SavedInstances)更新至9.1.4</li>
<li>HereBeDragons-1.0更新至2.07-release-3</li>
<li>LibNameplateRegistry-1.0更新至0.19T11</li>
<li>LibQTip-1.0更新至9.1.5-1</li>
</ul>
<p>2021.11.04</p>
<ul>
<li>9.1.5部分插件更新及插件版本统一更新</li>
<li>副本成就提示(AchievementsReminder)更新至9.103</li>
<li>DBM争霸艾泽拉斯(DBM-BattleForAzeroth)更新至r6</li>
<li>DBM:个人挑战(DBM-Challenges)更新至r143</li>
<li>首领模块(DBM-Core)更新至DBM-9.1.20-2</li>
<li>DBM五人副本模块(DBM-Dungeons)更新至r29</li>
<li>DBM军团再临模块(DBM-Legion)更新至r27</li>
<li>伤害统计Details(Details)更新至9.1.5.9108.145</li>
<li>统御碎片助手(DominationSocketHelper)更新至v1.5.4</li>
<li>团长工具(MRT)更新至v4600</li>
<li>PVP语音提示(GladiatorlosSA2)更新至2.3.11</li>
<li>大秘路线(MethodDungeonTools)更新至v3.7.0</li>
<li>稀有精英探测(RareScanner)更新至9.1.5</li>
<li>宠物战队(Rematch)更新至4.11.18</li>
<li>内置/sim命令更新至v9.1.5-01</li>
<li>WeakAura2更新至3.7.3</li>
</ul>
</div>
<div class="col-xs-6 h-scroll">
<p>常见问题</p>
<ul>
<li style="color:red">若出现显示一个书签等异常，先详细检查是否有文件失败</li>
<li style="color:red">大量更新时更新器很慢，建议网盘下载压缩包，解压使用</li>
<li style="color:red">任务面板移出屏幕，可在爱不易-面板移动里重置位置</li>
<li>密语总是新建窗口，可在界面-社交里设置新的悄悄话</li>
<li>官网 <a href="http://abyui.top">abyui.top</a>，群号 288425641，已满，随缘填坑</li>
<li>在插件目录下创建_aby_no文件，可不更新此目录</li>
<li>新手视频，<a href="https://www.bilibili.com/video/av27895994/">B站链接</a></li>
</ul>
<div style="width:100%; text-align: center">
<br/>
<button type="button" class="btn btn-info" data-toggle="modal" data-target="#donateInfo">赞赏作者</button>
</div>
<p>&nbsp;</p>
<ul>
<li>微信现在每天有限额的样子，而且越限越严，大家随缘。。。</li>
<li style="color:red">台服、外服留ID无意义，爱不易不支持怀旧服</li>
<li>赞赏5元以上可备注游戏ID，注意别忘了留服务器哦</li>
<li>低于此金额的认为是转服或改名，会替换前一次的ID</li>
<li>爱不易用户可以在鼠标提示和聊天中看到捐助者标记</li>
<li>捐助名单是手工维护的，赞赏后的下一次更新才会生效</li>
<li>转服或改名后可选其他金额备注新ID，务必说明旧ID</li>
<li>名单占用资源，请尽量只留主玩号，不要写一堆账号</li>
</ul>
<div class="modal fade" tabindex="-1" role="dialog" id="donateInfo">
<div class="modal-dialog" role="document">
	<div class="modal-content">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			<h4 class="modal-title" id="donateInfoLabel">感谢您的支持与认可，但先烦请阅读以下内容</h4>
		</div>
		<div class="modal-body">
			<div style="height:300px!important; overflow-y:auto; font-size: 12pt">
				<p style="text-indent:2em;">很多人都知道，暴雪明确禁止魔兽世界插件收费，但允许捐助。不过，作为整合插件接受打赏，似乎尚无先例。为了尽量减少争议，有些事情提前说清楚比较好：<p>
				<p style="text-indent:2em;">首先，爱不易是很多单体插件的组合体，其中有一多半的插件，有稳定的维护者和发布源（主要是Twitch），包括但不限于DBM、TMW、WA、ExRT、伤害统计等等几十款，这些插件很多是应玩家要求逐步添加的，起到方便玩家更新的目的。如果您只是单纯的觉得这些插件功能强大，那么请不要打赏我们，而是去发布源鼓励原作者。否则，我们既无法量化比例，也没有渠道给原作者分成。诚然，我们将这些优秀插件打包获得下载量，一定程度上侵占了原作者的权益。但目前也没有更好的办法。我们只能尽量保留插件的作者和版本信息（LICENSE和日志等因为文件数量问题被统一去掉了），这也是自此项目诞生的那一天，我们一贯坚持的原则。然后爱不易中还有部分年久失修，或是经过好多位开发者修改完善的单体插件，这种情况，我们认为主要版权仍然归属原作者。那么剩下的，真正属于爱不易的，大概只有10%不到的原创插件了，所以，如果您要打赏我们，请确定是为了这小部分的原创功能及插件修缮工作，或是认可我们的勤奋与专业。请忽略那些简单的搬运工作，否则我们受之有愧。

				<p style="text-indent:2em;">其次，无论是否打赏过我们，每个用户所得到的插件功能和服务支持是一致的。因为我们真的是喜欢魔兽才接手做的这个，玩家的口碑和认可才是我们最大的动力。如果仅仅是为了酬劳，是根本不足以让人坚持下去的，也不可能做出贴心的插件。

				<p style="text-indent:2em;">如果您看过这两条原则，还是决定打赏我们，那么非常感谢，同时希望您能留下您魔兽中的一个主要ID（格式为"角色名-服务器"），我们之后计划在插件内录入一个感谢名单，作为小小的回报。

				<p style="text-indent:2em;">当然，如果您不想打赏了，同样也要感谢您看到这里，您的关注同样是我们的动力。我们会尽量开放，哪怕不是爱不易的用户，我们也希望通过分享与交流，能让大家的魔兽世界更美好哪怕只是一点点，也就没什么遗憾了。

				<p style="text-indent:2em;">爱从来都不是容易的，无法承诺什么，但我们会尽量坚持爱，不改变。

				<div align="center"><br><b>微信赞赏码</b><br><img src="./warbaby256.png" width="256" height="256"/><br></div>

				<br>
				<p>附个人介绍：
				<ul>
					<li>TBC时期：<a href="http://bbs.ngacn.cc/read.php?tid=1041848">交易助手交易记录</a> <a href="http://bbs.ngacn.cc/read.php?tid=1027747">玩家菜单增强</a></li>
					<li>WLK时期：在台服 <a href="http://bbs.ngacn.cc/read.php?tid=3077447">组队频道转发</a> <a href="http://bbs.ngacn.cc/read.php?tid=3167236">台服反黑金</a></li>
					<li>CTM时期：就职网易主持有爱开发</li>
					<li>MOP和WOD时期基本是AFK状态</li>
					<li>WOD后期再次接手维护有爱</li>
					<li><a href="https://www.curseforge.com/members/warbabyy/projects">[Curse项目列表]</a></li>
				</ul>

			</div>
		</div>
		<div class="modal-footer">
			<button type="button" class="btn btn-primary" data-dismiss="modal">关闭</button>
		</div>
	</div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->
</div><!-- /.modal -->
</div>
